	<!-- IF S_DIGESTS -->
	<hr>

	<dl>
		<dt><label>{L_DIGESTS_REGISTER}:</label><br>{L_DIGESTS_REGISTER_EXPLAIN}</dt>
        <dd>
            <label for="digest1"><input type="radio" name="digest" id="digest1" value="1"<!-- IF S_DIGESTS_REGISTER_CHECKED_YES --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
            <label for="digest2"><input type="radio" name="digest" id="digest2" value="0"<!-- IF S_DIGESTS_REGISTER_CHECKED_NO --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
        </dd>
	</dl>
	<!-- ENDIF -->
	