input[type="number"]
{
	text-align: right;
	width: 5em !important;
}
.overflow-x
{
	overflow-x:auto;
}
#digests {
	background-color: inherit;
}
fieldset {
	padding: 0;
	border: 0;
	background-color: inherit;
	margin: 5px 0;
	overflow-x: auto;
}
table {
	border-spacing: 1px;
	border-collapse: separate;
}
#down tr:nth-child(3)
{
	background-color: #DCEBFE !important;
}
#balance_table tr:nth-child(odd)
{
	background-color: #DCEBFE !important;
}
.border-right-none {
	border-right-style:none;
}
fieldset.sort-filter {
	background-color: #FFF;
	font-size: 13px;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #CCCFD3;
}
.layout-fixed {
	table-layout: fixed; width: 100%;
}
.point8-em {
	font-size:.8em;
}
.position-relative {
	position:relative;
	left: 20px;
}
.text-center {
	text-align:center;
}
.text-center-uc {
	text-align:center; text-transform:uppercase;
}
.text-left {
	text-align:left;
}
.text-left-uc {
	text-align:left; text-transform:uppercase;
}
.width-120 {
	width:120px;
}
.width-80 {
	width:80px;
}
#with_selected {
	font-size: 1em;
}