.ui-dialog {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	text-align: center;
}
.ui-dialog-content {
	text-align: left;
}
.ui-dialog-titlebar {
	background-color: #CADCEB;
}
.top-3px {
	margin-top: 3px;
}
.position-relative {
	position:relative;
	left: 20px;
}