
<!-- IF S_SHOW_PMS -->
{L_YOU_HAVE_PRIVATE_MESSAGES}
<!-- BEGIN pm -->
{pm.NEW_UNREAD}{L_PRIVATE_MESSAGE}
{L_SUBJECT}: {pm.PRIVATE_MESSAGE_SUBJECT}
{L_FROM}: {pm.FROM} {L_DIGEST_ON} {pm.DATE}
{pm.CONTENT}
<!-- BEGINELSE -->
{L_DIGEST_NO_PRIVATE_MESSAGES}
<!-- END pm -->
____________________________________________________________
<!-- ENDIF -->

<!-- BEGIN forum -->

{L_FORUM}: {forum.FORUM}

<!-- BEGIN topic -->
{L_TOPIC}: {forum.topic.TOPIC}

<!-- BEGIN post -->
<!-- IF not forum.topic.post.S_FIRST_POST -->

{L_DIGEST_REPLY}: {forum.topic.post.SUBJECT}
<!-- ENDIF -->
{L_DIGEST_BY}: {forum.topic.post.FROM} {L_DIGEST_ON} {forum.topic.post.DATE}
<!-- IF S_SHOW_POST_TEXT -->{forum.topic.post.CONTENT}<!-- ENDIF -->
<!-- END post -->
<!-- END topic -->

<!-- BEGINELSE -->

{L_DIGEST_NO_POSTS}
<!-- END forum -->