<div class="post" id="skip">
	<div class="postbody">
		<!-- IF S_SHOW_PMS -->
			<h2 style="color:#000000">{L_YOU_HAVE_PRIVATE_MESSAGES}</h2>

			<!-- BEGIN pm -->
				<h3>{pm.NEW_UNREAD}{L_PRIVATE_MESSAGE}</h3>
				<!-- IF pm.S_USE_CLASSIC_TEMPLATE -->
					<table>
						<tr>
							<th>{L_DIGESTS_LINK}</th><th>{L_DIGESTS_POST_TIME}</th><th>{L_DIGESTS_AUTHOR}</th><th>{L_PRIVATE_MESSAGE_2}</th>
						</tr>
				<!-- ENDIF -->
				<!-- IF not pm.S_USE_CLASSIC_TEMPLATE -->
				<h4 id="{pm.ANCHOR}">{L_SUBJECT}{L_COLON} {pm.PRIVATE_MESSAGE_SUBJECT}</h4>
				<p class="author">{L_FROM}{L_COLON} {pm.FROM} {L_DIGESTS_ON} {pm.DATE}</p>
				<div class="content">{pm.CONTENT}</div>
				<!-- ELSE -->
						<tr id="{pm.ANCHOR}">
							<td style="text-align: center;">{pm.PRIVATE_MESSAGE_LINK}</td><td>{pm.DATE}</td><td>{pm.FROM}</td><td>{pm.CONTENT}</td>
						</tr>
						<!-- IF pm.S_LAST_ROW -->
					</table>
						<!-- ENDIF -->
				<!-- ENDIF -->
				<hr>
			<!-- BEGINELSE -->
				<div class="content">{L_DIGESTS_NO_PRIVATE_MESSAGES}</div>
				<hr>
			<!-- END pm -->
		<!-- ENDIF -->
		
		<!-- BEGIN forum -->
			<div class="forum">
			<h3 style="color:#000000">{L_FORUM}{L_COLON} {forum.FORUM}</h3>
			<!-- BEGIN topic -->
				<div class="topic">
				<h3>{L_TOPIC}{L_COLON} {forum.topic.TOPIC}</h3>
				<!-- IF forum.topic.S_USE_CLASSIC_TEMPLATE -->
					<table>
						<tr>
							<th>{L_DIGESTS_LINK}</th><th>{L_DIGESTS_POST_TIME}</th><th>{L_AUTHOR}</th><!-- IF S_SHOW_POST_TEXT --><th>{L_DIGESTS_POST_TEXT}</th><!-- ENDIF -->
						</tr>
				<!-- ENDIF -->
				<!-- BEGIN post -->
					<!-- IF not forum.topic.S_USE_CLASSIC_TEMPLATE -->
						<div class="post">
						<!-- IF not forum.topic.post.S_FIRST_POST -->
						<h4>{L_DIGESTS_REPLY}{L_COLON} {forum.topic.post.SUBJECT}</h4>
						<!-- ENDIF -->
						<!-- IF S_SHOW_POST_TEXT --><br><!-- ENDIF -->
						<p class="author" id="{forum.topic.post.ANCHOR}">{L_DIGESTS_BY}{L_COLON} {forum.topic.post.FROM} {L_DIGESTS_ON} {forum.topic.post.DATE}</p>
						<!-- IF S_SHOW_POST_TEXT -->
						<div class="content">{forum.topic.post.CONTENT}</div>
						<!-- ENDIF -->
						</div>
					<!-- ELSE -->
						<tr id="{forum.topic.post.ANCHOR}">
							<td style="text-align: center;">{forum.topic.post.POST_LINK}</td><td>{forum.topic.post.DATE}</td><td>{forum.topic.post.FROM}</td><!-- IF S_SHOW_POST_TEXT --><td>{forum.topic.post.CONTENT}</td><!-- ENDIF -->
						</tr>
						<!-- IF forum.topic.post.S_LAST_ROW -->
					</table>
						<!-- ENDIF -->
					<!-- ENDIF -->
				<!-- END post -->
				</div>
			<!-- END topic -->
			</div>
		<!-- BEGINELSE -->
		<div class="forum">{L_DIGESTS_NO_POSTS}</div>
		<!-- END forum -->
	</div>
</div>